.main-container {
	margin: 0;
	padding: 100px 30px;
	display: flex;
}
.form {
	border: 1px solid green;
	border-radius: 10px;
	padding: 30px 100px;
}
input {
	display: block;
	margin-bottom: 30px;
	margin-top: 10px;
}
table {
	margin-left: 5rem;
	margin-top: 1rem;
}
table,
th,
td {
	border: 1px solid black;
	border-collapse: collapse;
}
td {
	width: 10rem;
	padding: 10px;
}
button {
	padding: 2px;
	margin: 2px;
}
h1{
  margin-left: 250px;
}
